.sets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.rep {
  width: calc(3.5em + 2vh);
  height: calc(3.5em + 2vh);
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 100%;
  border: 2px solid var(--text-color);
}

.rep:hover {
  background-color: var(--hover);
}

.disabled {
  background-color: grey;
  color: grey;
}
