.sets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.rep {
  width: calc(1.5em + 2vh);
  height: calc(1.5em + 2vh);

  font-size: 2em;

  color: var(--text-color);
  background-color: var(--primary-color);

  border-radius: 100%;
  border: 2px solid var(--text-color);

  cursor: pointer;
}

.rep:hover {
  background-color: var(--hover);
}

.disabled {
  background-color: var(--disabled);
  color: grey;
}

@media (max-width: 600px) {
  .exerciseWrapper {
    flex-direction: column-reverse;
  }
}
