.wrapper {
  text-align: center;
  margin: 0 auto;
}

.timer {
  margin: 0 5em;

  font-size: 2em;
  text-align: center;

  border-radius: 8px;

  color: var(--text-color);
  background-color: var(--tetriary-color);
}

.exerciseWrapper {
  padding: 20px;
  margin: 1em;

  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;

  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.66);
}

.exerciseWrapper > div {
  color: var(--text-color);
}

@media (max-width: 600px) {
  .exerciseWrapper {
    flex-direction: column-reverse;
  }
}
