:root {
  --background-color: #333;
  --text-color: #fff;
  /* --primary-color: purple; */
  --primary-color: hsl(38, 79%, 36%);
  --hover: hsl(40, 84%, 41%);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #111;
    --primary-color: cornflowerblue;
    --secondary-color: #e8e4c9;
    --hover: rgb(100, 129, 237);
  }
}

.main {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
}
