.flexWrap {
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

.flex {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--text-color);
}

.column {
  flex-direction: column;
}
