.header {
  margin: 0;
  padding: 0;
  opacity: 0.9;

  border-bottom: solid var(--text-color) 1px;
}

.list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.list > li {
  flex: 1 1;
  text-align: center;
  list-style-type: none;
  background-color: var(--tetriary-color);
}

.list > li > a {
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: calc(10px + 5vw);
  display: flex;
  justify-content: center;

  text-decoration: none;
}

.list > li:hover {
  background-color: var(--secondary-color);
}
